@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: #ebebeb;
}
.title {
  color: white;
  -webkit-text-stroke: 1px #231f20;
}
.react-colorful {
  height: inherit !important;
  width: inherit !important;
}
@media (min-width: 768px) {
  .md\:flex {
    display: flex !important;
  }
}
.group:hover .group-hover\:block {
  display: block !important;
}
